.background-title {
  background-image: url("../images/background-titile.jpg");
  background-position:center;
  height:310px;
}

.dark-mode {
  background-color:black;
}

.dark-mode .container {
  background-color:black;
  color: lightgray;
}

.container {
  background-color:white;
}

#studentAvatar {
  border: 10px solid, #212529;
  border-radius: 50%;
  height: 300px;
  padding-top: 10px;
}

#profolioTitle{
  display: flex;
  align-items: center;
  text-align: center;
}

.flex-item {
  border: 5px solid lightgray;
  color: lightgray;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1.2rem;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.marvel-wiki {
  background-image: url("../images/marvel-wiki.jpg");
  background-repeat: no-repeat;
}

.guessing-game {
  background-image: url("../images/guessing-game.jpg");
  background-repeat: no-repeat;
}

.Work-Day-Scheduler {
  background-image: url("../images/Work-Day-Scheduler.jpg");
  background-repeat: no-repeat;
}

.Password-generater {
  background-image: url("../images/Password-generater.jpg");
  background-repeat: no-repeat;
}

.cat-game {
  background-image: url("../images/Catman.jpg");
  background-repeat: no-repeat;
}

.contact {
  margin-top: 10mm;
  padding-bottom: 10mm;
  border-top-style: groove;
}